/estrutura-de-dados/JavaApplication1/nbproject/private/
/estrutura-de-dados/JavaApplication1/build/
/estrutura-de-dados/JavaApplication2/nbproject/private/
/estrutura-de-dados/JavaApplication2/build/
/estrutura-de-dados/OrdenacoesJava/nbproject/private/
/estrutura-de-dados/JavaApplication3/nbproject/private/
/estrutura-de-dados/JavaApplication2 copy/build/
/estrutura-de-dados/JavaApplication2 copy/nbproject/private/
/estrutura-de-dados/JavaApplication3/build/
/nbproject/private/
/estrutura-de-dados/JavaApplication4/nbproject/private/
/estrutura-de-dados/JavaApplication4/build/
/estrutura-de-dados/JavaApplication5/nbproject/private/
/estrutura-de-dados/JavaApplication5/build/
/estrutura-de-dados/JavaApplication6/nbproject/private/
/estrutura-de-dados/JavaApplication7/nbproject/private/
/estrutura-de-dados/JavaApplication7/build/
