@charset "UTF-8";

/* #011627 */
/* #0e0e52 */
/* #7F7F7F */
/* #A5A5A5 */
/* #CCCCCC */
/* #F2F2F2 */

body,
html {
  overflow-x: hidden;
  font-family: Lato, Helvetica, sans-serif;
}

header {
  background-color: #011627;
}

h1 {
  padding: 25px;
  font-size: 60px;
  color: white;
}

p {
  color: #2d728f;
  text-align: justify;
  padding-left: 60px;
  padding-right: 60px;
}

caption,
figcaption {
  color: #2d728f;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #011627;
  font-weight: 600;
  margin: 15px;
}

img {
  height: 300px;
  width: 350px;
}

.menu-branco {
  background-color: #0e0e52;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #7cd5fc98;
}

.minha-cor {
  background-color: #cccccc;
}

.item-foot {
  background-color: #011627;
  color: #f2fdff;
}

section {
  max-width: 1199px;
}

