@charset "UTF-8";

/* #011627 */
/* #0e0e52 */
/* #7F7F7F */
/* #A5A5A5 */
/* #CCCCCC */
/* #F2F2F2 */

body,
html {
  font-family: Lato, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  background-color: #011627;
}

h1 {
  font-weight: 600;
  padding: 20px;
  font-size: 40px;
  color: #011627;
}

p {
  color: #2d728f;
}

p#justif {
  text-align: justify;
}

caption,
figcaption {
  color: #2d728f;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #011627;
  font-weight: 600;
  margin: 15px;
}

.menu-azul {
  background-color: #0e0e52;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #7cd5fc98;
}

.minha-cor {
  background-color: #cccccc;
}

.item-foot {
  background-color: #011627;
  color: #f2fdff;
}

section {
  max-width: 1199px;
}

.carousel-caption h5 {
  font-size: 20px;
  text-shadow: 2px 2px 2px #0505fcbe;
}

img#pixel {
  max-height: 200px;
}
